@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sen&display=swap');

@import 'normalize.min.scss';
@import 'variables.scss';


body {
    background-color: $lightBlue;
    color: $textColor;
    font-size: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
}

.header {
    border-bottom: 1px solid darken($lightBlue, 20%);
    text-align: center;
}

.header h1 {
    margin: 0.4rem;
}

.top-crumbs {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.top-crumbs li {
    display: inline;
    font-size: 1rem;
    line-height: 1;
}

.top-crumbs li+li:before {
    padding: 5px;
    color: $selectedColor;
    content: "/\00a0"
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1,
a {
    font-family: 'Bree Serif', serif;
}



p {
    font-family: 'Sen', sans-serif;
}

.container img {
    width: 100%;
    border-radius: 5px;
}

.bottom-nav {
    border-top: 1px solid darken($lightBlue, 20%);
    background-color: $lightBlue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
}

.bottom-nav .selected {
    color: $selectedColor;
}

.bottom-nav a {
    display: flex;
    flex-flow: column;
}

.bottom-nav i {
    display: flex;
    justify-content: space-around;
}

.icon-text {
    margin-top: 0.3rem;
}

.lager-table {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.7;
    width: 95%;
}

.lager-table tr:nth-child(even) {
    background-color: darken($lightBlue, 20%);
}

.lager-table .amount {
    text-align: right;
}

.fork-lift {
    opacity: 0.5;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.button {
    color: #333;
    background-color: #fff;
    background-image: linear-gradient(#fff, #eee);
    border: 1px solid #ccc;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.4rem;
    line-height: 1.4;
}

.button:hover {
    background-color: #ddd;
    background-image: none;
}

.button:active {
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4pz rgba(0,0,0,0.15);
}

.pack-order {
    color: #fff;
    background-color: $lightBlue;
    background-image: linear-gradient($lightGreen, darken($lightGreen, 10%));
    border-color: darken($lightBlue, 20%);
    color: lighten($textColor, 10%);
}

.full-width-button {
    width: 100%;
}

.no-stock {
    background-color: $lightRed;
}
