@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sen&display=swap');

body {
    background-color: #ededed;
    color: #191d22;
    font-size: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1,
a {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
}

p {
    font-family: 'Sen', sans-serif;
}

.container img {
    width: 100%;
    border-radius: 5px;
}

.bottom-nav {
    border-top: 1px solid #6b7074;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ededed;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
}

.bottom-nav .selected {
    color: #6b7074;
}

.bottom-nav a {
    display: flex;
    flex-flow: column;
}

.bottom-nav i {
    display: flex;
    justify-content: space-around;
}

.icon-text {
    margin-top: 0.3rem;
}
